/* Typography */

html {
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	text-align: center;
}

main > .intro {
	font-size: 3em;
}

@media only screen and (min-width:961px)  {
	main > .intro {
		font-size: 3.75em;
	}
}

main > .intro a {
	color: #1E1E1E;
	text-decoration: none;
}

main > .intro a:hover {
	color: #333333;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 200;
}

.icons-social i {
	padding: 10px;
}

.icons-social a:hover {
	color: #333333;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}