/* Theme */

body {
	background: #FFEB3B;
}

main {
	color: #1E1E1E;
}

.icons-social a {
	color: #1E1E1E;
	text-decoration: none;
}

.icons-social a span {
	line-height: 0; 
	font-size: 0;
	color: transparent;
}

.icons-social a svg path{
	fill: #1E1E1E;
}