/* Theme */

body {
	background: #FFEB3B;
}

main {
	color: #1E1E1E;
}

main > .intro {
	font-size: 2.6em;
}

main > .intro a {
	display: flex;
	align-items: center;
}

main > .intro a span {
	margin-left: 5px;
	margin-right: 7px;
}

@media only screen and (min-width:961px)  {
	main > .intro a span {
		margin-left: 10px;
	}
}

main > .tagline {
	margin: 1rem 0 2rem 0;
}

@media only screen and (min-width:961px)  {
	main > .tagline {
		font-size: 1.2rem;
	}
}

.icons-social {
	display: flex;
	align-items: center;
	justify-content: center;
}

.icons-social a {
	color: #1E1E1E;
	text-decoration: none;
	margin: 0 15px;
	font-size: 0;
}

.icons-social a span {
	line-height: 0; 
	font-size: 0;
	color: transparent;
}

.icons-social a svg path{
	fill: #1E1E1E;
}

.icons-social a:hover svg path{
	fill: #333333;
}